.list {
    padding-top: 10px;
    background-color: lightgray;
    padding-bottom: 3px;
}

.list-item {
    background-color: white;
    font-size: 13px;
    margin: 5px;
}


.card-body {
    margin:8px;
    padding: 0;
}

.card-title {
    margin-top: 5px;
    padding-top: 0;
    margin-left: 10px;
    font-weight: bold;
    font-size: 13px;
}

.add-another-list {
    margin-top:0;
    font-size: 14px;
}

.create-list-form {
    margin:8px;
}

.btn-link {
    text-decoration: none;
    color: black;
    
}