<div *ngIf="retrievingData; else dataRetrieved">
  <div class="container">
    <div class="col-xs-12">
        <p class="text-center">Loading data <i class="fas fa-spinner fa-pulse"></i></p>
    </div>
  </div>
</div>

<ng-template class="row long" #dataRetrieved>
  <div cdkDropList cdkDropListOrientation="horizontal" class="list-container" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let list of lists; let i = index" class="col-sm-1 one-list-container" cdkDrag>
      <div class="card list">
        <span>
        <div class="card-title">
          <button type="button" class="btn-link btn-sm transparent" [hidden]="list[2]" (click)="changeEditMode(i)">{{list[1]}}</button>
          
          <div class="textbox input-group input-group-sm" [hidden]="!list[2]">
            <input type="text" #textBoxName class="form-control" placeholder="{{list[1]}}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="changeEditMode(i);modifyListName(textBoxName.value, list[0]);list[1]='editing...';">B</button>
            </div>
          </div>

          <button [hidden]="list[2]" type="button" class="btn btn-sm btn-link col-sm-1" (click)="deleteOneList(list[0])"><i class="fas fa-trash-alt"></i></button>
        </div>
        </span>
        {{list[0].id}}
        <app-tasks></app-tasks>
      </div>
    </div> 
    <div class="col-sm-1 one-list-container">
      <div class="card list">
        <div *ngIf="createAList; else offerToCreateAList">
          <form class="create-list-form" [formGroup]="createListForm" (ngSubmit)="onFormSubmit(createListForm)">
            <div class="input-group input-group-sm mb-1">
              <input type="text" class="form-control" placeholder="Enter list title..." formControlName="listName" class="form-control" required autofocus>
            </div>
            <span>
              <button type="submit" class="btn btn-success btn-sm col-sm-4" [disabled]="!createListForm.valid">Add List</button>
              <button type="button" class="btn btn-link col-sm-1" (click)="closeListCreation()">X</button>
            </span>
          </form>
        </div>
        <ng-template #offerToCreateAList>
          <div class="card-body add-another-list" (click)="wantToCreateAList()">
            + Add another list
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>